.bottom-contacts {
  height: 551px;
  width: 100%;
  position: relative;

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  &__wrapper {
    width: var(--large-content-width);
    margin: 0 auto;
    padding-top: 46px;
    box-sizing: border-box;
    display: flex;
    justify-content: end;

    @media screen and (max-width: 1023px) {
      width: var(--content-width);
    }
  }

  &__box {
    width: 512px;
    height: 466px;
    position: relative;

    @media screen and (max-width: 1439px) {
      width: 459px;
      height: 439px;
    }
  }

  &__container {
    background-color: var(--white);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 30px;
    padding-bottom: 38px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 3;
  }

  &__gold-square {
    background: var(--dark-gold);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    bottom: 27px;
    right: 27px;
  }

  &__title {
    color: var(--dark);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;

    @media screen and (max-width: 1439px) {
      margin-bottom: 14px;
    }
  }

  &__content {
    width: 365px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__row {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    gap: 14px;
  }

  &__info {
    display: block;
    height: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    padding: 15px 0 11px;
    text-align: center;
    border: 2px solid var(--dark);

    &_large {
      text-align: left;
      font-size: 14px;
      padding: 19px 23px 23px 26px;
    }
  }

  &__link {
    @include reset-link;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gold);
  }

  &__img {
    width: 32px;
    height: 32px;
    display: block;
    object-fit: cover;
  }

  &__link-black {
    @include reset-link;
    flex-grow: 1;
    height: 100%;
    background: var(--dark);
    box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.10);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
  }
}
