.contacts {
  margin-bottom: 123px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }

  &__wrapper {
    width: var(--large-content-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 1023px) {
      width: var(--content-width);
      flex-direction: column;
      align-items: center;
    }
  }

  &__map {
    width: 641px;
    border: none;

    @media screen and (max-width: 1439px) {
      width: 495px;
    }

    @media screen and (max-width: 1023px) {
      width: 508px;
      height: 458px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__content {
    width: 512px;
    box-sizing: border-box;
    padding-top: 27px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media screen and (max-width: 1439px) {
      width: 462px;
    }

    @media screen and (max-width: 1023px) {
      width: 459px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      gap: 58px;
    }
  }

  &__bottom {
    width: 100%;
    box-sizing: border-box;
    padding: 19px 27px 9px 30px;
    background: #FFF;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
  }

  &__txt {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__title {
    color: var(--dark);
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  &__list {
    margin-bottom: 35px;
  }

  &__item {
    color: var(--dark);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3px;
  }
}