.feedback {
  margin-bottom: 100px;

  &__wrapper {
    width: var(--content-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__subtitle {
    color: var(--gold);
    text-align: center;
    font-size: 20px;
    line-height: normal;
  }

  &__title {
    text-align: center;
    font-size: 36px;
    line-height: normal;
    margin: 13px 0 17px;
  }

  &__description {
    color: #AAA;
    text-align: center;
    font-family: Gilroy;
    font-size: 20px;
    line-height: normal;
    max-width: 625px;
  }

  &__swiper {
    margin-top: 38px;
  }

  &__swiper-wrapper {
    @include reset-list;
    width: 100%;
  }

  &__swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  &__img {
    width: 100%;
    height: 175px;
    object-fit: cover;
    display: block;
    object-position: top;
  }

  &__swiper-txt {
    color: var(--dark);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  &__link {
    color: var(--gold);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }
}