.header {
  min-height: 114px;
  background-color: var(--white);
  box-sizing: border-box;
  padding-top: 15px;
  position: relative;

  &_main {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;

    .header__logo-txt {
      color: var(--white);
    }

    .header__link {
      color: var(--white);

      &_gold-contact {
        color: var(--gold);
      }
    }
  }

  &__wrapper {
    width: var(--large-content-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-container {
    @include reset-link;
    display: flex;
    align-items: center;
    gap: 26px;
  }

  &__logo {
    width: 84px;
    height: 84px;
    object-fit: cover;
    display: block;
  }

  &__logo-txt {
    color: var(--dark);
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
  }

  &__list {
    @include reset-list;
    display: flex;
    align-items: center;
    gap: 36px;
  }

  &__link {
    @include reset-link;
    color: var(--dark);
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 13px;
    padding-top: 13px;
    display: block;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    @include transition;

    &:hover {
      color: var(--gold);
      border-color: var(--gold);
      opacity: 1;
    }

    &_gold {
      color: var(--gold);
      border-color: var(--gold);
    }

    &_gold-contact {
      color: var(--gold);

      &:hover {
        border-color: transparent;
        opacity: .7;
      }
    }
  }

  &__btn {
    width: 157px;
    height: 30px;
    @include transition;

    &:hover {
      opacity: .7;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 21px;
  }

  &__whatsapp-icon {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/whatsapp-gold-icon.svg) no-repeat center / cover;
  }
}