.hero {
  height: 732px;
  background: url(../img/promo-bg.jpg) no-repeat center / cover;
  margin-bottom: 130px;


  @media screen and (max-width: 1439px) {
    height: 675px;
  }

  @media screen and (max-width: 1023px) {
    margin-bottom: 488px;
  }

  @media screen and (max-width: 767px) {
    height: 594px;
    margin-bottom: 418px;
  }

  &__wrapper {
    width: var(--content-width);
    height: 100%;
    padding-top: 224px;
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: 1439px) {
      padding-top: 184px;
    }

    @media screen and (max-width: 767px) {
      padding-top: 174px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__swiper {
    width: 690px;

    @media screen and (max-width: 1439px) {
      width: 621px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  &__swiper-wrapper {
    @include reset-list;
    width: 100%;
  }

  &__slide {
    display: flex;
    flex-direction: column;
    gap: 90px;

    @media screen and (max-width: 767px) {
      gap: 41px;
    }
  }

  &__swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    align-items: center;
    position: absolute;
    top: unset !important;
    left: 50% !important;
    bottom: -88px !important;
    transform: translateX(-50%) !important;

    @media screen and (max-width: 767px) {
      bottom: -56px !important;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid var(--gold);
      margin: 0 !important;
      padding: 0;
      opacity: 1;
      @include transition;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--gold);
    }
  }

  &__title {
    margin: 0;
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 150%;

    @media screen and (max-width: 1439px) {
      font-size: 28px;
    }

    @media screen and (max-width: 767px) {
      font-size: 14px;
      font-family: 'Unbounded';
    }
  }

  &__btn {
    width: 297px;
    height: 50px;
    font-size: 20px;

    @media screen and (max-width: 767px) {
      width: 100%;
      height: 40px;
      font-size: 14px;
      color: var(--white);
    }
  }

  &__tiles {
    @include reset-list;
    display: grid;
    grid-template-columns: 134px 134px;
    grid-auto-rows: 134px;
    gap: 17px;

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  &__tile {
    width: 100%;
    height: 100%;
    background-color: #fff;
    box-sizing: border-box;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__tile-icon {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: cover;
  }

  &__tile-txt {
    color: #2C3661;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;
  }

  &__features {
    position: absolute;
    bottom: -95px;
    left: 0;
    @include reset-list;
    height: 190px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    @media screen and (max-width: 1439px) {
      bottom: -80px;
      height: 164px;
    }

    @media screen and (max-width: 1023px) {
      left: 50%;
      transform: translateX(-50%);
      grid-template-columns: 1fr;
      width: 60%;
      bottom: -50px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      bottom: -31px;
    }
  }

  &__features-item {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 24px;
    background-color: var(--dark);
    color: var(--white);
    box-sizing: border-box;
    padding: 42px 37px 40px 27px;

    @media screen and (max-width: 1439px) {
      padding: 24px 19px 26px 19px;
    }

    @media screen and (max-width: 1023px) {
      padding: 42px 37px 40px 27px;
    }

    @media screen and (max-width: 767px) {
      padding: 33px 20px 27px 16px;
      gap: 15px;
    }

    &_gold {
      background-color: var(--gold);
    }
  }

  &__features-img {
    width: 45px;
    height: 51px;
    object-fit: cover;
    display: block;

    @media screen and (max-width: 767px) {
      width: 35px;
      height: 40px;
      object-fit: contain;
    }
  }

  &__features-content {
    display: flex;
    flex-direction: column;
  }

  &__features-subtitle {
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin: 0;

    @media screen and (max-width: 767px) {
      font-size: 12px;
    }
  }

  &__features-title {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 3px 0 8px;

    @media screen and (max-width: 767px) {
      font-size: 20px;
      margin-top: 5px;
      margin-bottom: 12px;
    }
  }

  &__features-txt {
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
}