.link {
  @include reset-link;
  background: var(--dark);
  box-shadow: 0px 6px 5px 0px rgba(0, 0, 0, 0.10);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}