.reason {
  background-color: var(--dark);
  height: 520px;
  margin-bottom: 78px;

  @media screen and (max-width: 1439px) {
    height: 387px;
  }

  @media screen and (max-width: 1023px) {
    height: unset;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }

  &__swiper {
    width: 100%;
  }

  &__wrapper {
    width: 1440px;
    height: 100%;
    margin: 0 auto;
    display: flex;

    @media screen and (max-width: 1439px) {
      width: 100%;
      max-width: 1024px;
    }

    @media screen and (max-width: 1023px) {
      flex-direction: column;
      align-items: center;
      gap: 50px;
      max-width: 768px;
    }
  }

  &__left {
    width: 50%;
    padding: 32px 100px 0 64px;
    display: flex;
    flex-direction: column;
    position: relative;

    @media screen and (max-width: 1439px) {
      padding: 15px 10px 0 21px;
    }

    @media screen and (max-width: 1023px) {
      padding-top: 40px;
      padding-bottom: 46px;
      padding-left: 0;
      padding-right: 0;
      width: 61%;
    }

    @media screen and (max-width: 767px) {
      width: var(--content-width);
    }
  }

  &__why {
    color: var(--gold);
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13px;

    @media screen and (max-width: 1439px) {
      font-size: 12px;
      margin-bottom: 10px;
    }
  }

  &__swiper-list {
    @include reset-list;
  }

  &__swiper-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50% !important;
    bottom: 34px !important;
    top: unset !important;
    transform: translateX(-50%) !important;
    gap: 12px;

    @media screen and (max-width: 1439px) {
      bottom: 18px !important;
    }

    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid var(--gold);
      margin: 0 !important;
      padding: 0;
      opacity: 1;
      @include transition;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--gold);
    }
  }

  &__title {
    color: var(--white);
    font-size: 36px;
    font-weight: 400;

    @media screen and (max-width: 1439px) {
      font-size: 24px;
    }
  }

  &__description {
    color: var(--white);
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    margin: 29px 0 34px;

    @media screen and (max-width: 1439px) {
      font-size: 12px;
      margin: 14px 0 26px;
      max-width: 380px;
    }
  }


  &__list {
    @include reset-list;
    display: flex;
    flex-direction: column;
    gap: 31px;
  }

  &__item {
    display: flex;
    gap: 20px;
  }

  &__icon {
    width: 40px;
    height: 35px;
    object-fit: contain;
    display: block;
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &__item-txt {
    color: var(--white);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
  }

  &__item-txt-grey {
    color: rgba(255, 255, 255, 0.56);
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &__right {
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: end;

    @media screen and (max-width: 1023px) {
      width: 100%;
      height: 408px;
    }
  }

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1;
    object-fit: cover;
  }

  &__swiper-small {
    position: relative;
    z-index: 2;
    background-color: var(--dark);
    box-sizing: border-box;
    padding: 14px 10px 10px 19px;
    width: 208px;
    height: 176px;
    margin-right: 0 !important;

    @media screen and (max-width: 1439px) {
      width: 172px;
      height: 153px;
    }

    @media screen and (max-width: 1023px) {
      width: 208px;
      height: 176px;
    }
  }

  &__swiper-small-wrapper {
    @include reset-list;
  }

  &__swiper-small-slide {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &__swiper-small-icon {
    width: 40px;
    height: 40px;
    display: block;
    object-fit: cover;

    @media screen and (max-width: 1439px) {
      width: 34px;
      height: 34px;
    }
  }

  &__swiper-small-txt {
    color: var(--white);
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: normal;
    margin: 25px 0 10px;

    @media screen and (max-width: 1439px) {
      font-size: 28px;
      margin-top: 13px;
      margin-bottom: 5px;
    }

    @media screen and (max-width: 1023px) {
      font-size: 32px;
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }

  &__swiper-small-txt-gold {
    color: var(--gold);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
  }

  &__swiper-small-pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    left: unset !important;
    bottom: unset !important;
    right: 20px !important;
    top: 14px !important;
    gap: 7px;
    width: unset !important;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: transparent;
      border: 1px solid var(--gold);
      margin: 0 !important;
      padding: 0;
      opacity: 1;
      @include transition;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--gold);
    }
  }
}