.structure {
  margin-bottom: 78px;

  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }

  &__wrapper {
    width: var(--large-content-width);
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
      width: var(--content-width);
    }
  }

  &__list {
    @include reset-list;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

    @media screen and (max-width: 1023px) {
      display: grid;
      grid-template-areas:
        'nst nst'
        'sparta olymp'
        'hermes phoenix';
      justify-items: center;
      grid-template-columns: repeat(2, 170px);
      grid-auto-rows: 170px;
      gap: 16px;
    }

    @media screen and (max-width: 767px) {
      grid-template-columns: repeat(2, 90px);
      grid-auto-rows: 90px;
      gap: 9px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1023px) {
      width: 100%;
      height: 100%;
    }

    &_hermes {
      grid-area: hermes;
    }

    &_sparta {
      grid-area: sparta;
    }

    &_nst {
      grid-area: nst;
    }

    &_olymp {
      grid-area: olymp;
    }

    &_phoenix {
      grid-area: phoenix;
    }
  }

  &__img {

    @media screen and (max-width: 1023px) {
      width: 100%;
      height: 100%;
      object-fit: contain;
      display: block;
    }

    &_olymp {
      width: 145px;
      height: 145px;

      @media screen and (max-width: 767px) {
        width: 71px;
        height: 71px;
      }
    }
  }

  &__txt {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    max-width: 601px;
    margin: 0 auto;

    @media screen and (max-width: 1023px) {
      font-size: 18px;
      max-width: 500px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }
  }
}