:root {
  --dark: #191919;
  --gold: #D7B46A;
  --dark-gold: #C89D66;
  --white: #fff;


  --large-content-width: 1222px;
  --content-width: 1044px;

  @media screen and (max-width: 1439px) {
    --large-content-width: 1000px;
    --content-width: 980px;
  }

  @media screen and (max-width: 1023px) {
    --content-width: 720px;
  }

  @media screen and (max-width: 767px) {
    --content-width: 88% !important;
  }
}