<section class="about-main">
  <div class="about-main__wrapper">
    <div class="about-main__black-square">
      <div class="about-main__gold-square">
        <div class="about-main__img-container">
          <div class="about-main__experience">
            <div class="about-main__experience-content">
              <img src="./img/book.svg" alt="Книга" class="about-main__icon">
              <p class="about-main__experience-txt">
                опыт работы более <br><span class="about-main__txt-large">10 лет</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="about-main__right">
      <p class="about-main__subtitle">
        О компании
      </p>
      <h2 class="about-main__title">
        ООО «ОЛИМП»
      </h2>
      <p class="about-main__txt">
        ООО «ОЛИМП», в прошлом отдел разрешений, сейчас является отдельным юридическим лицом в структуре ООО «ТЭК
        НеваСпецТяж».
      </p>
      <p class="about-main__txt">
        Оказывает услуги по оформлению специальных разрешений на перевозку негабаритных и тяжеловесных грузов по
        территории РФ, РБ, РК и других стран СНГ. Занимается разработкой и анализом маршрутов, сюрвеем маршрутов.
      </p>
      <p class="about-main__txt">
        Состоит в ассоциации СРО «МежРегионПроект» (рег. номер № СРО-П-161-09092010).
      </p>
      <div class="about-main__bottom">
        <a href="./about.html" class="about-main__link link">
          Подробнее
        </a>
        <img src="./img/signature.png" alt="Подпись" class="about-main__signature">
      </div>
    </div>
  </div>
</section>