<section class="about-reason">
  <div class="about-reason__wrapper">
    <h2 class="about__subtitle about__subtitle_center">
      Почему «ОЛИМП»
    </h2>
    <div class="about-reason__swiper swiper">
      <ul class="about-reason__swiper-wrapper swiper-wrapper">
        <li class="about-reason__swiper-slide swiper-slide">
          <img src="./img/features-paper.svg" alt="Иконка" class="about-reason__swiper-img">
          <p class="about-reason__swiper-txt">
            Оформим документы за 1 день без отказов
          </p>
        </li>
        <li class="about-reason__swiper-slide swiper-slide">
          <img src="./img/features-woman.svg" alt="Иконка" class="about-reason__swiper-img">
          <p class="about-reason__swiper-txt">
            Подберем оптимальный маршрут на любой ваш запрос
          </p>
        </li>
        <li class="about-reason__swiper-slide swiper-slide">
          <img src="./img/features-balance-gold.svg" alt="Иконка" class="about-reason__swiper-img">
          <p class="about-reason__swiper-txt">
            Найдем несколько вариантов маршрутов
          </p>
        </li>
        <li class="about-reason__swiper-slide swiper-slide">
          <img src="./img/features-balance-gold.svg" alt="Иконка" class="about-reason__swiper-img">
          <p class="about-reason__swiper-txt">
            Найдем несколько вариантов маршрутов
          </p>
        </li>
        <li class="about-reason__swiper-slide swiper-slide">
          <img src="./img/features-balance-gold.svg" alt="Иконка" class="about-reason__swiper-img">
          <p class="about-reason__swiper-txt">
            Найдем несколько вариантов маршрутов
          </p>
        </li>
      </ul>
    </div>
    <span class="about-reason__swiper-pagination"></span>
    <a href="#" class="back-btn">назад</a>
  </div>
</section>