<nav class="breadcrumbs">
  <div class="breadcrumbs__wrapper">
    <ul class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="./index.html" class="breadcrumbs__link">главная</a>
      </li>
      <span class="breadcrumbs__line">/</span>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">проекты</a>
      </li>
      <span class="breadcrumbs__line">/</span>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">название</a>
      </li>
      <span class="breadcrumbs__line">/</span>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">название</a>
      </li>
      <span class="breadcrumbs__line">/</span>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">название</a>
      </li>
    </ul>
  </div>
</nav>