<section class="contacts">
  <div class="contacts__wrapper">
    <iframe class="contacts__map"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3Aef1dab4ad76f749cde0d93104a1bd4555c8d01a5cc1ba3ce2a53a5722e764cda&amp;source=constructor"></iframe>
    <div class="contacts__content">
      <div class="bottom-contacts__box bottom-contacts__box_contacts">
        <div class="bottom-contacts__gold-square"></div>
        <div class="bottom-contacts__container">
          <h2 class="bottom-contacts__title">
            контакты
          </h2>
          <div class="bottom-contacts__content">
            <div class="bottom-contacts__row">
              <p class="bottom-contacts__info">
                +7 (812) 677-48-09
              </p>
              <a href="#" class="bottom-contacts__link">
                <img src="./img/phone-icon.svg" alt="Иконка телефона" class="bottom-contacts__img">
              </a>
            </div>
            <div class="bottom-contacts__row">
              <p class="bottom-contacts__info">
                office@panteon-spb.ru
              </p>
              <a href="#" class="bottom-contacts__link">
                <img src="./img/mail-icon.svg" alt="Иконка телефона" class="bottom-contacts__img">
              </a>
            </div>
            <p class="bottom-contacts__info bottom-contacts__info_large">
              Российская Федерация, 196158, г. Санкт-Петербург, вн.тер.г. муниципальный округ Гагаринское, Московское
              шоссе,
              д. 46, литера Б, офис 309
            </p>
            <div class="bottom-contacts__row">
              <a href="#" class="bottom-contacts__link-black">Подробнее</a>
              <a href="#" class="bottom-contacts__link">
                <img src="./img/mail-icon.svg" alt="Иконка телефона" class="bottom-contacts__img">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__bottom">
        <p class="contacts__txt">
          ООО «ОЛИМП», в прошлом отдел разрешений, сейчас является отдельным юридическим лицом в структуре ООО «ТЭК
          НеваСпецТяж». <br>
          Оказывает услуги по оформлению специальных разрешений на перевозку негабаритных и тяжеловесных грузов по
          территории РФ, РБ, РК и других стран СНГ. Занимается разработкой и анализом маршрутов, сюрвеем маршрутов.
          Состоит в ассоциации СРО «МежРегионПроект» (рег. номер № СРО-П-161-09092010).
        </p>
        <h2 class="contacts__title">
          ОЛИМП – это
        </h2>
        <ul class="contacts__list">
          <li class="contacts__item">Ответственность</li>
          <li class="contacts__item">Надежность</li>
          <li class="contacts__item">Накопленный опыт</li>
        </ul>
        <p class="contacts__txt">
          Наша цель – помочь вам быстро получить разрешение на перевозку. Мы возьмем всю работу на себя, чтобы
          освободить ваше время.
        </p>
      </div>
    </div>
  </div>
</section>