<section class="documents">
  <div class="documents__wrapper">
    <h1 class="documents__title">
      Лицензии
    </h1>
    <ul class="documents__list">
      <li class="documents__item">
        <a href="#" class="documents__link">
          <img src="./img/document-example.jpg" alt="Фото документа" class="documents__img">
          <p class="documents__open">
            открыть
          </p>
        </a>
        <p class="documents__name">
          Название документа
        </p>
      </li>
      <li class="documents__item">
        <a href="#" class="documents__link">
          <img src="./img/document-example.jpg" alt="Фото документа" class="documents__img">
          <p class="documents__open">
            открыть
          </p>
        </a>
        <p class="documents__name">
          Название документа
        </p>
      </li>
      <li class="documents__item">
        <a href="#" class="documents__link">
          <img src="./img/document-example.jpg" alt="Фото документа" class="documents__img">
          <p class="documents__open">
            открыть
          </p>
        </a>
        <p class="documents__name">
          Название документа
        </p>
      </li>
      <li class="documents__item">
        <a href="#" class="documents__link">
          <img src="./img/document-example.jpg" alt="Фото документа" class="documents__img">
          <p class="documents__open">
            открыть
          </p>
        </a>
        <p class="documents__name">
          Название документа
        </p>
      </li>
      <li class="documents__item">
        <a href="#" class="documents__link">
          <img src="./img/document-example.jpg" alt="Фото документа" class="documents__img">
          <p class="documents__open">
            открыть
          </p>
        </a>
        <p class="documents__name">
          Название документа
        </p>
      </li>
    </ul>
    <a href="#" class="documents__back">назад</a>
  </div>
</section>