<section class="feedback">
  <div class="feedback__wrapper">
    <p class="feedback__subtitle">
      НАШ ОПЫТ
    </p>
    <h2 class="feedback__title">
      Благодарственные письма
    </h2>
    <p class="feedback__description">
      Решения принимаются профессионалами. Мы гарантируем высокое качество оказания услуг
    </p>
    <div class="feedback__swiper swiper">
      <ul class="feedback__swiper-wrapper swiper-wrapper">
        <li class="feedback__swiper-slide">
          <img src="./img/letter.jpg" alt="Письмо" class="feedback__img">
          <p class="feedback__swiper-txt">
            Название компании
          </p>
          <a href="#" class="feedback__link">читать</a>
        </li>
      </ul>
    </div>
  </div>
</section>