<footer class="footer">
  <div class="footer__wrapper">
    <nav class="footer__nav">
      <div class="footer__container footer__container_menu">
        <h2 class="footer__title">
          Меню
        </h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              О компании
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Новости
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Наши услуги
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Лицензии
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Контакты
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__container footer__container_res">
        <h2 class="footer__title">
          Ресурсы
        </h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              Пользовательское соглашение
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              Политика персональных данных
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__container footer__container_contacts">
        <h2 class="footer__title">
          Контакты
        </h2>
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">
              +7 (812) 677-48-09
            </a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">
              office@panteon-spb.ru
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="footer__middle">
      <a href="./index.html" class="footer__link">
        <img src="./img/logo.png" alt="Логотип" class="footer__logo">
      </a>
      <p class="footer__logo-txt">
        © ООО «ОЛИМП», 2023
      </p>
    </div>
    <form class="footer__form">
      <p class="footer__form-txt">
        Подпишитесь на рассылку, чтобы получать важные новости
      </p>
      <div class="footer__row">
        <input type="mail" class="footer__input" placeholder="Введите ваш e-mail">
        <button type="submit" class="footer__submit">подписаться</button>
      </div>
      <button type="button" class="footer__download">
        <img src="./img/download-icon.svg" alt="Иконка скачивания" class="footer__icon">
        скачать реквизиты
      </button>
    </form>
  </div>
</footer>