<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__content">
      <div class="hero__swiper">
        <ul class="hero__swiper-wrapper">
          <li class="hero__slide">
            <h2 class="hero__title">
              Полный комплекс услуг по оформлению специальных разрешений на перевозку крупногабаритных и/или
              тяжеловесных
              грузов
            </h2>
            <button type="button" class="hero__btn button">оставить заявку</button>
          </li>
        </ul>
      </div>
      <ul class="hero__tiles">
        <li class="hero__tile">
          <img src="./img/route.svg" alt="Иконка" class="hero__tile-icon">
          <p class="hero__tile-txt">
            Разработка маршрутов
          </p>
        </li>
        <li class="hero__tile">
          <img src="./img/analysis.svg" alt="Иконка" class="hero__tile-icon">
          <p class="hero__tile-txt">
            Анализ маршрутов
          </p>
        </li>
        <li class="hero__tile">
          <img src="./img/car.svg" alt="Иконка" class="hero__tile-icon">
          <p class="hero__tile-txt">
            Проекты ОДД
          </p>
        </li>
        <li class="hero__tile">
          <img src="./img/document.svg" alt="Иконка" class="hero__tile-icon">
          <p class="hero__tile-txt">
            Специальные проекты
          </p>
        </li>
      </ul>
    </div>
    <ul class="hero__features">
      <li class="hero__features-item">
        <img src="./img/features-woman.svg" alt="Иконка" class="hero__features-img">
        <div class="hero__features-content">
          <p class="hero__features-subtitle">
            Квалифицированные специалисты
          </p>
          <h3 class="hero__features-title">
            Большой опыт работы
          </h3>
          <p class="hero__features-txt">
            Полный спектр услуг по разработке специальных разрешений
          </p>
        </div>
      </li>
      <li class="hero__features-item hero__features-item_gold">
        <img src="./img/features-balance.svg" alt="Иконка" class="hero__features-img">
        <div class="hero__features-content">
          <p class="hero__features-subtitle">
            Качественное исполнение
          </p>
          <h3 class="hero__features-title">
            В кратчайшие сроки
          </h3>
          <p class="hero__features-txt">
            Полный спектр услуг по разработке специальных разрешений
          </p>
        </div>
      </li>
      <li class="hero__features-item">
        <img src="./img/features-paper.svg" alt="Иконка" class="hero__features-img">
        <div class="hero__features-content">
          <p class="hero__features-subtitle">
            Доступна
          </p>
          <h3 class="hero__features-title">
            Онлайн консультация
          </h3>
          <p class="hero__features-txt">
            Полный спектр услуг по разработке специальных разрешений
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>