<section class="popup">
  <div class="popup__wrapper">
    <h2 class="popup__title">
      Закажите обратный звонок
    </h2>
    <div class="popup__content">
      <form class="popup__form">
        <fieldset class="popup__fieldset">
          <div class="popup__row">
            <label for="name" class="popup__label">ФИО</label>
            <input type="text" name="name" id="name" class="popup__input" placeholder="Иванович Иван Иванов">
          </div>
          <div class="popup__row">
            <label for="name" class="popup__label">Телефон</label>
            <input type="tel" name="tel" id="tel" class="popup__input" placeholder="+7 (999) 999-99-99">
          </div>
          <div class="popup__row">
            <label for="name" class="popup__label">ФИО</label>
            <input type="mail" name="mail" id="mail" class="popup__input" placeholder="pochta@mail.ru">
          </div>
        </fieldset>
        <button type="submit" class="popup__submit button">отправить</button>
      </form>
      <span class="popup__line"></span>
      <div class="popup__description">
        <h3 class="popup__subtitle">
          Заголовок
        </h3>
        <p class="popup__txt">
          Aliquam sit amet tellus et leo dictum tristique vitae quis ipsum. Pellentesque augue elit, ornare a dolor sit
          amet, ultrices varius sapien. Mauris non tellus convallis, auctor elit in, iaculis augue. Maecenas enim augue,
          viverra vel blandit sed, tempor nec turpis.
        </p>
      </div>
    </div>
    <button type="button" class="popup__close"></button>
  </div>
</section>