<section class="projects">
  <div class="projects__wrapper">
    <h1 class="projects__title">
      Проекты
    </h1>
    <ul class="projects__list">
      <li class="projects__item">
        <div class="projects__top">
          <span class="projects__date">14.07.2023</span>
          <p class="projects__txt">
            Разработка и анализ маршрутов на перевозку крупногабаритных грузов
          </p>
        </div>
        <a href="./project.html" class="projects__bottom">
          <img src="./img/swiper-img.jpg" alt="Картинка проекта" class="projects__img">
          <span class="projects__read">читать</span>
        </a>
      </li>
      <li class="projects__item">
        <div class="projects__top">
          <span class="projects__date">14.07.2023</span>
          <p class="projects__txt">
            Разработка и анализ маршрутов на перевозку крупногабаритных грузов
          </p>
        </div>
        <a href="./project.html" class="projects__bottom">
          <img src="./img/swiper-img.jpg" alt="Картинка проекта" class="projects__img">
          <span class="projects__read">читать</span>
        </a>
      </li>
      <li class="projects__item">
        <div class="projects__top">
          <span class="projects__date">14.07.2023</span>
          <p class="projects__txt">
            Разработка и анализ маршрутов на перевозку крупногабаритных грузов
          </p>
        </div>
        <a href="./project.html" class="projects__bottom">
          <img src="./img/swiper-img.jpg" alt="Картинка проекта" class="projects__img">
          <span class="projects__read">читать</span>
        </a>
      </li>
      <li class="projects__item">
        <div class="projects__top">
          <span class="projects__date">14.07.2023</span>
          <p class="projects__txt">
            Разработка и анализ маршрутов на перевозку крупногабаритных грузов
          </p>
        </div>
        <a href="./project.html" class="projects__bottom">
          <img src="./img/swiper-img.jpg" alt="Картинка проекта" class="projects__img">
          <span class="projects__read">читать</span>
        </a>
      </li>
      <li class="projects__item">
        <div class="projects__top">
          <span class="projects__date">14.07.2023</span>
          <p class="projects__txt">
            Разработка и анализ маршрутов на перевозку крупногабаритных грузов
          </p>
        </div>
        <a href="./project.html" class="projects__bottom">
          <img src="./img/swiper-img.jpg" alt="Картинка проекта" class="projects__img">
          <span class="projects__read">читать</span>
        </a>
      </li>
    </ul>
    <nav class="projects__pagination">
      <button type="button" class="projects__btn"></button>
      <ul class="projects__pagination-list">
        <li class="projects__pagination-item">
          <a href="#" class="projects__pagination-link">1</a>
        </li>
        <li class="projects__pagination-item">
          <a href="#" class="projects__pagination-link projects__pagination-link_active">2</a>
        </li>
        <li class="projects__pagination-item">
          <a href="#" class="projects__pagination-link">3</a>
        </li>
        <li class="projects__pagination-item">
          <a href="#" class="projects__pagination-link">...</a>
        </li>
        <li class="projects__pagination-item">
          <a href="#" class="projects__pagination-link">10</a>
        </li>
      </ul>
      <button type="button" class="projects__btn projects__btn_next"></button>
    </nav>
  </div>
</section>