<section class="project">
  <div class="project__wrapper">
    <h1 class="project__title">
      Название проекта
    </h1>
    <span class="project__date">14.07.2023</span>
    <div class="project__content">
      <div class="project__swiper swiper">
        <ul class="project__swiper-wrapper swiper-wrapper">
          <li class="project__swiper-slide swiper-slide">
            <img src="./img/swiper-img.jpg" alt="Картинка новости" class="project__swiper-img">
          </li>
          <li class="project__swiper-slide swiper-slide">
            <img src="./img/swiper-img.jpg" alt="Картинка новости" class="project__swiper-img">
          </li>
          <li class="project__swiper-slide swiper-slide">
            <img src="./img/swiper-img.jpg" alt="Картинка новости" class="project__swiper-img">
          </li>
        </ul>
        <span class="project__swiper-pagination"></span>
      </div>
      <div class="project__txt-box">
        <p class="project__txt">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus id lorem in viverra. Donec
          sagittis posuere neque, sit amet accumsan sapien euismod at. In porttitor imperdiet interdum. Aliquam sit amet
          tellus et leo dictum tristique vitae quis ipsum. Pellentesque augue elit, ornare a dolor sit amet, ultrices
          varius sapien. Mauris non tellus convallis, auctor elit in, iaculis augue. Maecenas enim augue, viverra vel
          blandit sed, tempor nec turpis.
        </p>
        <p class="project__txt">
          Vivamus sed sem elit. Donec aliquet pulvinar tortor at mattis. Vestibulum vitae finibus tortor. Sed non
          euismod felis. Donec eros purus, congue a ullamcorper quis, suscipit quis justo. Fusce quis elementum velit,
          ullamcorper vestibulum justo. Nullam sed lectus sed tortor vestibulum molestie. Morbi iaculis felis vitae
          ipsum venenatis aliquam quis ut purus. Sed lacinia leo risus, sed vestibulum nisi condimentum sed. Vivamus
          posuere nibh et mi placerat consectetur. Ut condimentum erat metus, quis porttitor elit pulvinar
          sollicitudin.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum maximus id lorem in viverra.
          Donec sagittis posuere neque, sit amet accumsan sapien euismod at. In porttitor imperdiet interdum. Aliquam
          sit amet tellus et leo dictum tristique vitae quis ipsum. Pellentesque augue elit, ornare a dolor sit amet,
          ultrices varius sapien. Mauris non tellus convallis, auctor elit in, iaculis augue. Maecenas enim augue,
          viverra vel blandit sed, tempor nec turpis.
        </p>
      </div>
    </div>
    <a href="#" class="back-btn">Назад</a>
  </div>
</section>