<section class="reason">
  <div class="reason__wrapper">
    <div class="reason__left">
      <p class="reason__why">
        ПОЧЕМУ МЫ
      </p>
      <div class="reason__swiper swiper">
        <ul class="reason__swiper-list swiper-wrapper">
          <li class="reason__swiper-slide swiper-slide">
            <h2 class="reason__title">
              Лучшие специалисты с богатым опытом
            </h2>
            <p class="reason__description">
              Решения принимаются профессионалами. Мы гарантируем высокое качество оказания услуг
            </p>
            <ul class="reason__list">
              <li class="reason__item">
                <img src="./img/features-paper.svg" alt="Иконка" class="reason__icon">
                <div class="reason__item-content">
                  <p class="reason__item-txt">
                    Оформим документы за 1 день без отказов
                  </p>
                  <p class="reason__item-txt-grey">
                    Подберем оптимальный маршрут на любой ваш запрос
                  </p>
                </div>
              </li>
              <li class="reason__item">
                <img src="./img/features-woman.svg" alt="Иконка" class="reason__icon">
                <div class="reason__item-content">
                  <p class="reason__item-txt">
                    Подберем оптимальный маршрут на любой ваш запрос
                  </p>
                  <p class="reason__item-txt-grey">
                    Полный спектр услуг по разработке специальных разрешений
                  </p>
                </div>
              </li>
              <li class="reason__item">
                <img src="./img/features-balance-gold.svg" alt="Иконка" class="reason__icon">
                <div class="reason__item-content">
                  <p class="reason__item-txt">
                    Найдем несколько вариантов маршрутов
                  </p>
                  <p class="reason__item-txt-grey">
                    Полный спектр услуг по разработке специальных разрешений
                  </p>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="reason__right">
      <img src="./img/reason-bg.jpg" alt="Совещание" class="reason__bg">
      <div class="reason__swiper-small swiper">
        <ul class="reason__swiper-small-wrapper swiper-wrapper">
          <li class="reason__swiper-small-slide swiper-slide">
            <img src="./img/book-gold.svg" alt="Иконка" class="reason__swiper-small-icon">
            <p class="reason__swiper-small-txt">
              > 30 000
            </p>
            <p class="reason__swiper-small-txt-gold">
              проектов ОДД разработано
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>