<section class="services">
  <div class="services__wrapper">
    <p class="services__subtitle">
      УСЛУГИ
    </p>
    <h2 class="services__title">
      Что мы можем предложить
    </h2>
    <p class="services__description">
      Решения принимаются профессионалами. Мы гарантируем высокое качество оказания услуг.
    </p>
    <ul class="services__list">
      <li class="services__item">
        <img src="./img/services-icon-1.svg" alt="Иконка" class="services__img">
        <p class="services__txt">
          Разработка и анализ маршрутов
        </p>
      </li>
      <li class="services__item">
        <img src="./img/services-icon-2.svg" alt="Иконка" class="services__img">
        <p class="services__txt">
          Сюрвей маршрутов
        </p>
      </li>
      <li class="services__item">
        <img src="./img/services-icon-3.svg" alt="Иконка" class="services__img">
        <p class="services__txt services__txt_small">
          Оформление спецразрешений на перевозку крупногабаритных и/или тяжеловесных грузов по территории РФ, РБ, РК и
          других стран СНГ

        </p>
      </li>
      <li class="services__item">
        <img src="./img/services-icon-4.svg" alt="Иконка" class="services__img">
        <p class="services__txt">
          Разработка проектов ОДД
        </p>
      </li>
      <li class="services__item">
        <img src="./img/services-icon-5.svg" alt="Иконка" class="services__img">
        <p class="services__txt services__txt_small">
          Разработка специальных проектов (расчет и обследование искусственных сооружений)
        </p>
      </li>
      <li class="services__item services__item_last">
        <img src="./img/services-icon-6.svg" alt="Иконка" class="services__img services__img_last">
        <p class="services__txt services__txt_last">
          Сопровождение автомобилями прикрытия
        </p>
      </li>
    </ul>
  </div>
</section>