<section class="project">
  <div class="project__wrapper">
    <h1 class="project__title">
      Разработка специальных проектов (расчет и обследование искусственных сооружений)
    </h1>
    <div class="project__content">
      <div class="project__swiper swiper">
        <ul class="project__swiper-wrapper swiper-wrapper">
          <li class="project__swiper-slide swiper-slide">
            <img src="./img/swiper-img.jpg" alt="Картинка новости" class="project__swiper-img">
          </li>
          <li class="project__swiper-slide swiper-slide">
            <img src="./img/swiper-img.jpg" alt="Картинка новости" class="project__swiper-img">
          </li>
          <li class="project__swiper-slide swiper-slide">
            <img src="./img/swiper-img.jpg" alt="Картинка новости" class="project__swiper-img">
          </li>
        </ul>
        <span class="project__swiper-pagination"></span>
      </div>
      <div class="project__txt-box">
        <p class="project__txt project__txt_service">
          При перевозке крупногабаритного груза, если его высота превышает 4 м, перевозчик обязан предварительно
          провести промеры под искусственными сооружениями (мосты, путепроводы).
        </p>
        <p class="project__txt project__txt_service">
          Специальный проект проводится, чтобы оценить возможность проезда автомобиля с негабаритным или тяжеловесным
          грузом. В ходе подготовки проекта может выясниться, что нужны дополнительные действия: инженерные сооружения
          нуждаются в усилении или нужны особые меры по обеспечению безопасности перевозок. <br>
          Мы готовы разработать для вас такой проект, чтобы избавить от неприятных неожиданностей при согласовании
          маршрута.
        </p>
        <button type="button" class="project__order popup-btn button">Заказать</button>
      </div>
    </div>
    <a href="#" class="project__link">Назад</a>
  </div>
</section>