<section class="structure">
  <div class="structure__wrapper">
    <ul class="structure__list">
      <li class="structure__item structure__item_hermes">
        <img src="./img/hermes-logo.png" alt="Логотип компании" class="structure__img">
      </li>
      <li class="structure__item structure__item_sparta">
        <img src="./img/sparta-logo.jpg" alt="Логотип компании" class="structure__img">
      </li>
      <li class="structure__item structure__item_nst">
        <img src="./img/nst-logo.png" alt="Логотип компании" class="structure__img">
      </li>
      <li class="structure__item structure__item_olymp">
        <img src="./img/logo.png" alt="Логотип компании" class="structure__img structure__img_olymp">
      </li>
      <li class="structure__item structure__item_phoenix">
        <img src="./img/phoenix-logo.jpg" alt="Логотип компании" class="structure__img">
      </li>
    </ul>
    <p class="structure__txt">
      ООО «ОЛИМП» входит в структуру ООО «ТЭК НеваСпецТяж». Также в структуру входят компании: ООО «Спарта», PHOENIX
      LTD, ООО «Гермес».
    </p>
  </div>
</section>
